<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
   
    #Forces http to https
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    #End forces http to https
    
    #preventing index.php
    RewriteCond %{THE_REQUEST} /index\.php [NC]
    RewriteRule ^(.*?)index\.php[^/] /$1? [L,R=302,NC,NE]

    RewriteCond %{THE_REQUEST} /index\.php [NC]
    RewriteRule ^(.*?)index\.php(?:/(.*))?$ /$1$2? [L,R=302,NC,NE]
    #End preventing index.php

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
    # START protect files from direct access by any user
    <Files ".env">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files "composer.json">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files ".env.example">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files "artisan">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files "package.json">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files "phpunit.xml">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files ".styleci.yml">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files "BingSiteAuth.xml">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files ".editorconfig">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files "composer.lock">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files "info.php">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files "robots.txt">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    <Files "README.md">
    Order Allow,Deny
    Deny from all
    Allow from 127.0.0.1
    </Files>
    
    #  END protect files from direct access by any user
    

</IfModule>

# php -- BEGIN cPanel-generated handler, do not edit
# This domain inherits the “PHP” package.
# php -- END cPanel-generated handler, do not edit